@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .btn-primary {
    @apply p-2 bg-white text-black mx-auto block w-fit rounded-md hover:bg-white/70 transition-all ease-in-out duration-300 font-bold;
  }
  .btn-secondary {
    @apply p-2 border-2 border-white hover:border-white/70 text-white mx-auto block w-fit rounded-md  transition-all ease-in-out duration-300 font-bold;
  }

  .input {
    @apply w-full py-3 px-3 flex gap-2 rounded-md border-2 transition-colors;
  }
}